@font-face {
    font-family: 'Feather';
    src: url(/Users/vanessapisati/Desktop/EPICODE/Epicode/compiti/M3/m3es4_epicode/assets/feather.ttf) format("ttf");
}

body {
    font-family: 'Feather', sans-serif;
}

.nav-image-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav-notification {
    width: 35px;
    height: 35px;
    background-color: #e6e6e7;
    border-radius: 50%;
}  

.nav-image-profile img {
    border-radius: 50%;
    width: 35px;
    height: auto;
}

.navbar-nav a {
    font-size: small;
    color: rgb(14, 14, 14);
}

.hero {
    width: 100%;
    height: auto;
    background-color: #7550fE;
}

h1 {
    font-weight: bold;
}

.hero-image img{
    max-width: 470px;
    height: auto;
}

.p-hero {
    color: rgba(255, 255, 255, 0.593);
    font-weight: 300;
    font-size: 1.2em;
}

.btn-browse {
    background-color: #19CB97;
    padding: 2% 4%;
    font-size: small;
    font-weight: 500;
}

.btn-instructor {
    padding: 2% 4%;
    font-size: small;
    font-weight: 500;
}

.main-info {
    width: 100%;
    height: auto;
}

.info-icon {
    width: 60px;
    height: 60px;
    background-color: #ffeeda;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon svg {
    width: 20px;
    height: 20px;
}

.h5-line-title{
    font-size: medium;
}

.p-gray {
    color: gray;
    font-size: small;
}

.recommended, .popular, .trending{
    padding-top: 100px;
}

.container-title {
    color: rgb(69, 69, 69);
    padding-left: 7%;
    font-weight: 400;
    font-size: 1.7em;
}

.card-main-container {
    background-color: #F5F4F8;
    height: auto;
}

.card {
    max-width: 17rem;
}

.card-title {
    font-size: 1.1em;
}

.old-price {
    color: #d3d0dc;
    font-size: 1em;
    text-decoration: line-through;
}

.new-price {
    font-size: 1.2em;
    font-weight: bold;
}

.card-profile-image {
    width: 30px;
    height: 30px;
}

.card-profile-image img {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}


.checked {
    color: #ffaa46;
}

.stars-value {
    color: #ffaa46;
}

.feedback-count {
    color: #d3d0dc;
}

.card-bottom {
    border-top: 1px solid  #d3d0dc;
}

.card-profile-name {
    color: gray;
} 

.card-main-container {
    height: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: gray;
    border-radius: 50%;
    z-index: 0;
}

.carousel-control-next, .carousel-control-prev {
    width: 140px;;
}

.save-icon {
    width: 17px;
    height: 17px;
    color: transparent;
}

.trending {
    margin-bottom: 7%;
}

footer {
    background-color: #F5F4F8;
    color: lightgray;
}

.footer {
    border-top: 1px solid lightgray;
}

.footer-container {
    padding: 0 7%;
    border-top: 1px solid rgb(190, 190, 190);
}

.footer-menu-list {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 2%;
}

/*Media Query*/

@media only screen and (max-width: 600px) {
    .hero-info {
        margin-top: 30px;
    }

    .hero-image {
        margin-top: 30px;
    }

    .carousel-control-prev {
        justify-content: flex-start;
        width: auto;
    }

    .carousel-control-next {
        justify-content: flex-end;
        width: auto;
    } 

    .card {
        max-width: 13rem;
    }

    .card-title {
        font-size: 1em;
    }

    .card-profile {
        align-items: center;
    }

    .card-profile p {
        padding-bottom: 0;
    }

    .card-save {
        padding-right: 5%;
    }

    .copyright {
        justify-content: center;
    }

    .footer-menu {
        justify-content: center;
    }
}

/*ANIMAZIONI*/

.card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    transition-duration: 0.3s;    
}

.save-icon:hover {
    color: rgb(30, 30, 30);
}

.nav-notification:hover {
    background-color: gray;
}
